<?xml version="1.0" encoding="UTF-8"?>
<!-- These variables define the Windows Installer product version, product code and upgrade code. They   -->
<!-- will be used later on in this file.  this value should be B U I  LD_SCRIPT_MUST_REPLACE_AT_RUNTIME  (in quotes)-->
<?define Property_ProductVersion = "BUILD_SCRIPT_MUST_REPLACE_AT_RUNTIME" ?>
<!--this is replaced at build time by the msbuild 'package' target -->
<?define Property_ProductCode = "*" ?>
<!-- auto-generate a new guid each time -->
<?define Property_UpgradeCode = "{F54C1961-7DB8-40F5-BD2E-074FA20019A5}" ?>
<!--Don't even think of EVER changing this -->

<!-- good intro to the component vs. file thing, and why each file here is a separate component:
http://blogs.msdn.com/robmen/archive/2003/10/04/56479.aspx -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <Product Id="$(var.Property_ProductCode)" Name="LiftTools $(var.Property_ProductVersion)" Language="1033"
             Version="$(var.Property_ProductVersion)" Manufacturer="SIL"
             UpgradeCode="$(var.Property_UpgradeCode)">

    <Package  Compressed="yes" InstallerVersion="200" />

    <Upgrade Id ="$(var.Property_UpgradeCode)" >
      <UpgradeVersion Minimum ="$(var.Property_ProductVersion)" OnlyDetect ="yes" Property ="NEWVERSIONDETECTED" />
      <UpgradeVersion Minimum ="0.0.0" IncludeMinimum ="yes" Maximum ="$(var.Property_ProductVersion)" IncludeMaximum ="no" Property ="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade >

    <UIRef Id="WixUI_Minimal"/>

<!-- # WixUIBannerBmp / Top banner / 493 × 58
# WixUIDialogBmp / Background bitmap used on the welcome and completion dialogs / 493 × 312 

    <WixVariable Id='WixUIBannerBmp' Value='..\..\artwork\installerBanner.bmp' />

    
<WixVariable Id='WixUIBannerBmp' Value='..\..\artwork\topOfInstaller.jpg' />
    <WixVariable Id='WixUIDialogBmp' Value='..\..\artwork\installerBackground.jpg' />
-->
    
    <WixVariable Id="WixUILicenseRtf" Value="..\..\distfiles\License.rtf" />


    <!-- 
    "from the list: Don't use Advertise="yes" Advertised shortcuts are designed to allow
users to install just the shortcut for your app, then demand-install the
rest of the app the first time the icon is run.  If this is not behavior you
are trying to support, you're better off using non-advertised shortcuts. "-->

    <PropertyRef Id="NETFRAMEWORK35" />
    <Condition Message="Before LiftTools can install, you need to install Microsoft's free .NET Framework 3.5.">
      Installed OR NETFRAMEWORK35
    </Condition>

    <!--because of bug, this needs to be 1 -->
    <Property Id ="ALLUSERS">1</Property>

    <Directory Id="TARGETDIR" Name="SourceDir">
      
      <Directory Id='ProgramMenuFolder' Name='Programs'>
        <Directory Id='LiftToolsShortcutDir' Name='LiftTools'>
          <Component Id ='removeShortcutDir' Guid ="{D12B1B93-F5E7-4B6A-8842-C13589117E71}">
            <RemoveFolder Id ="shortcutDirRemover" On ="uninstall"/>
            <RegistryKey Id="keyPathForRemoveShortcutDir" Action ="createAndRemoveOnUninstall" Root="HKCU" Key="SOFTWARE\LiftTools\Components\LiftToolsShortcutDir">
              <RegistryValue Type ="string" Value =""  Action ="write" KeyPath ="yes"/>
            </RegistryKey>
          </Component>

        </Directory>
      </Directory>
      <Directory Id="ProgramFilesFolder" Name="PFiles">

        <Directory Id="ProgramDir" Name="LiftTools">

          <Component Id="LiftTools.exe" Guid="{4877CC98-A595-4FE2-A636-D4FED129FB87}">
            <Registry Root="HKCU" Key="SOFTWARE\LiftTools\Components\LiftTools.exe" KeyPath="yes" />

            <File Id="LiftTools.exe" Name="LiftTools.exe"  Source="..\..\output\release\LiftTools.exe" />
              
            <!--- todo: icons for LiftTools files -->

            <!--- connect file types to icons and program to launch -->

            <!--- todo: 
                      any connections between file types and LiftTools
                    <RemoveRegistryKey Action ='removeOnUninstall' Root ='HKCR' Key ='.lift'/>
                    <RemoveRegistryKey Action ='removeOnUninstall' Root ='HKCR' Key ='LiftTools.LIFTFile'/>
-->

            <!-- another way:                 <Registry Id='LuaReg8' Root='HKCR' Key='VisualStudio.luaproj.8.0\Shell\Open\Command' Action='write' 
                     Type='string' Value='"[ENVPATH_2005]" "%1"'/> -->

            <Shortcut Id="startmenuShortcut"  Directory="LiftToolsShortcutDir" Name="LiftTools"
                 WorkingDirectory="ProgramDir" Target="[!LiftTools.exe]"  Icon ="LiftTools.exe" />

          </Component>

          <Component Id="Palaso.dll" Guid="{BA9744F8-285C-416E-86FE-D153A77FA8CD}">
            <File Id="Palaso.dll" Name="Palaso.dll" KeyPath="yes" Source="..\..\output\release\Palaso.dll" />
          </Component>

          <Component Id="Icu.Net.dll" Guid="{5750DD1D-F389-4138-9DEB-9CCC6C7720FE}">
            <File Id="Icu.Net.dll" Name="icu.net.dll" KeyPath="yes" Source="..\..\lib\icu.net.dll" />
          </Component>
          <Component Id="icudt40.dll" Guid="{5750DD1D-F389-4138-9DEB-9CCC6C7720F1}">
            <File Id="icudt40.dll" Name="icudt40.dll" KeyPath="yes" Source="..\..\lib\icudt40.dll" />
          </Component>
          <Component Id="icuin40.dll" Guid="{5750DD1D-F389-4138-9DEB-9CCC6C7720F2}">
            <File Id="icuin40.dll" Name="icuin40.dll" KeyPath="yes" Source="..\..\lib\icuin40.dll" />
          </Component>
          <Component Id="icuuc40.dll" Guid="{5750DD1D-F389-4138-9DEB-9CCC6C7720F3}">
            <File Id="icuuc40.dll" Name="icuuc40.dll" KeyPath="yes" Source="..\..\lib\icuuc40.dll" />
          </Component>
          
          <Component Id="Palaso.DictionaryServices.dll" Guid="{79EE8237-9614-4239-87A4-B2AF2CF7CD2C}">
            <File Id="Palaso.DictionaryServices.dll" Name="Palaso.DictionaryServices.dll" KeyPath="yes" Source="..\..\output\release\Palaso.DictionaryServices.dll" />
          </Component>
          <Component Id="Palaso.Lift.dll" Guid="{3DDA9386-0A99-418D-BF33-E070D6337DDD}">
            <File Id="Palaso.Lift.dll" Name="Palaso.Lift.dll" KeyPath="yes" Source="..\..\output\release\Palaso.Lift.dll" />
          </Component>

          <Component Id="PalasoUIWindowsForms.dll" Guid="{2734011D-C134-4c3f-B41F-7B886AFA7BF2}">
            <File Id="PalasoUIWindowsForms.dll" Name="PalasoUIWindowsForms.dll" KeyPath="yes" Source="..\..\output\release\PalasoUIWindowsForms.dll" />
          </Component>
          <Component Id="Commons.Xml.Relaxng.dll" Guid="{68959BF8-AC50-47FD-8B06-718B3E7FC6B6}">
            <File Id="Commons.Xml.Relaxng.dll" Name="Commons.Xml.Relaxng.dll" KeyPath="yes" Source="..\..\output\release\Commons.Xml.Relaxng.dll" />
          </Component>

        </Directory>
      </Directory>
    </Directory>


    <Feature Id="ProductFeature" Level="1" Title="Basic Stuff">

      <ComponentRef Id ="removeShortcutDir"/>
      <ComponentRef Id="LiftTools.exe"/>
      <ComponentRef Id="Palaso.dll"/>
      <ComponentRef Id="Palaso.Lift.dll"/>
      <ComponentRef Id="Palaso.DictionaryServices.dll"/>
      <ComponentRef Id="PalasoUIWindowsForms.dll"/>
      <ComponentRef Id="Commons.Xml.Relaxng.dll" />

      <ComponentRef Id="Icu.Net.dll"/>
      <ComponentRef Id="icudt40.dll"/>
      <ComponentRef Id="icuin40.dll"/>
      <ComponentRef Id="icuuc40.dll"/>

      <ComponentGroupRef Id ="DistFiles"/>
 
    </Feature>
    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
    <Icon Id="LiftTools.exe" SourceFile ="..\..\output\release\LiftTools.exe" />
    <Property Id="ARPPRODUCTICON" Value="LiftTools.exe" />
    <!-- what you see in add/remove programs control panel -->



    <CustomAction Id="LaunchLiftTools"
                  FileKey="LiftTools.exe"
                  ExeCommand=" -about"
                  Return="asyncNoWait"/>
    
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />

      <!--We need the condition here so that we only launch the executable when we make an installation but not when we remove the product-->
          <Custom Action='LaunchLiftTools' After="InstallFinalize">NOT Installed</Custom>
        </InstallExecuteSequence>
  </Product>
</Wix>

